<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/Iphone 11.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Iphone 11 Pro</h5>
          <h4 class="card-title">1500$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/Samsung 10.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Samsung 10 Pro</h5>
          <h4 class="card-title">1400$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
    <!---->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/Mi 10.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Mi 10</h5>
          <h4 class="card-title">1350$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
    <!---->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/OnePlus 8 Pro.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">OnePlus 8 Pro</h5>
          <h4 class="card-title">1300$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>

<!--Laptop Produts-->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/MacBook Pro.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">MacBook Pro</h5>
          <h4 class="card-title">2000$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/HP Laptop.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">HP Laptop</h5>
          <h4 class="card-title">1600$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
    <!---->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/Lenovo Laptop.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Lenovo Laptop</h5>
          <h4 class="card-title">1800$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
    <!---->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/Asus Rog Laptop.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Asus Rog Laptop</h5>
          <h4 class="card-title">1900$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>

<!--Fashion Produts-->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/Dress 1.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Dress 1</h5>
          <h4 class="card-title">170$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/Dress 2.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Dress 2</h5>
          <h4 class="card-title">250$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
    <!---->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/Dress 3.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Dress 3</h5>
          <h4 class="card-title">100$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
    <!---->
    <div class="col-md-3 col-sm-3">
      <div class="card-header bg-light">
        <div class="row align-items-center">
          <img
            class="card-img-top"
            src="assets/pics/Dress 4.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Dress 4</h5>
          <h4 class="card-title">125$</h4>
          <p class="card-text text-justify">
            1)Best Product With Good Features. 2)Top Qulity Product Available In
            Market.
          </p>
          <button class="btn btn-primary">ADD TO CART</button>
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>
